* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(49, 52, 92);
}

.gradient-container {
    /* background-color: aliceblue; */
    width: 100%;
    height: 20em;
    margin-top: 10em;
    display: flex;
    flex-wrap: wrap;
}

.color-element {
    flex-grow: 1;
}